[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pyinstaller = "*"
pillow = "*"

[requires]
python_version = "3.10"
